<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The dropbox folder -->
    <add key="dropbox-folder" value="C:\Users\JamesBond\Dropbox\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>